<datalist class="datalist" id="account-UCTO">
  <option value="011">011 - Zřizovací výdaje</option>
  <option value="012">012 - Nehmotné výsledky výzkumu  a vývoje</option>
  <option value="013">013 - Software</option>
  <option value="014">014 - Ocenitelná práva</option>
  <option value="015">015 - Goodwill</option>
  <option value="019">019 - Jiný dlouhodobý nehmotný majetek</option>
  <option value="021">021 - Stavby</option>
  <option value="022">022 - Samostatné hmotné movité věci a soubory hmotných movitých věcí</option>
  <option value="025">025 - Pěstitelské celky trvalých porostů</option>
  <option value="026">026 - Dospělá zvířata a jejich skupiny</option>
  <option value="029">029 - Jiný dlouhodobý hmotný majetek</option>
  <option value="031">031 - Pozemky</option>
  <option value="032">032 - Umělecká díla a sbírky</option>
  <option value="041">041 - Pořízení dlouhodobého nehmotného majetku</option>
  <option value="042">042 - Pořízení dlouhodobého hmotného majetku</option>
  <option value="043">043 - Pořízení dlouhodobého finančního majetku</option>
  <option value="051">051 - Poskytnuté zálohy na dlouhodobý nehmotný majetek</option>
  <option value="052">052 - Poskytnuté zálohy na dlouhodobý hmotný majetek</option>
  <option value="053">053 - Poskytnuté zálohy na dlouhodobý finanční majetek</option>
  <option value="061">061 - Podíly – ovládaná osoba</option>
  <option value="062">062 - Podíly v účetních jednotkách pod podstatným vlivem</option>
  <option value="063">063 - Ostatní cenné papíry a podíly</option>
  <option value="065">065 - Dluhové cenné papíry držené do splatnosti</option>
  <option value="066">066 - Půjčky a úvěry – ovládaná nebo ovládající osoba, podstatný vliv</option>
  <option value="067">067 - Ostatní půjčky</option>
  <option value="069">069 - Jiný dlouhodobý finanční majetek</option>
  <option value="071">071 - Oprávky ke zřizovacím výdajům</option>
  <option value="072">072 - Oprávky k nehmotným výsledkům výzkumu a vývoje</option>
  <option value="073">073 - Oprávky k softwaru</option>
  <option value="074">074 - Oprávky k ocenitelným právům</option>
  <option value="075">075 - Oprávky ke goodwillu</option>
  <option value="079">079 - Oprávky k jinému dlouhodobému nehmotnému majetku</option>
  <option value="081">081 - Oprávky ke stavbám</option>
  <option value="082">082 - Oprávky k samost. hmotným movitým věcem a souborům hmotných movitých věcí</option>
  <option value="085">085 - Oprávky k pěstitelským celkům trvalých porostů</option>
  <option value="086">086 - Oprávky k dospělým zvířatům a jejich skupinám</option>
  <option value="089">089 - Oprávky k jinému dlouhodobému hmotnému majetku</option>
  <option value="091">091 - Opravná položka k dlouhodobému nehmotnému majetku</option>
  <option value="092">092 - Opravná položka k dlouhodobému hmotnému majetku</option>
  <option value="093">093 - Opravná položka k dlouhodobému nedokončenému nehmotnému  majetku</option>
  <option value="094">094 - Opravná položka k dlouhodobému nedokončenému hmotnému majetku</option>
  <option value="095">095 - Opravná položka k poskytnutým zálohám na dlouhodobý majetek</option>
  <option value="096">096 - Opravná položka k dlouhodobému finančnímu majetku</option>
  <option value="097">097 - Oceňovací rozdíl k nabytému majetku</option>
  <option value="098">098 - Oprávky k oceňovacímu rozdílu k nabytému majetku</option>
  <option value="111">111 - Pořízení materiálu</option>
  <option value="112">112 - Materiál na skladě</option>
  <option value="119">119 - Materiál na cestě</option>
  <option value="121">121 - Nedokončená výroba</option>
  <option value="122">122 - Polotovary vlastní výroby</option>
  <option value="123">123 - Výrobky</option>
  <option value="124">124 - Mladá a ostatní zvířata a jejich skupiny</option>
  <option value="131">131 - Pořízení zboží</option>
  <option value="132">132 - Zboží na skladě a v prodejnách</option>
  <option value="139">139 - Zboží na cestě</option>
  <option value="151">151 - Poskytnuté zálohy na materiál</option>
  <option value="152">152 - Poskytnuté zálohy na zvířata</option>
  <option value="153">153 - Poskytnuté zálohy na zboží</option>
  <option value="191">191 - Opravná položka k materiálu</option>
  <option value="192">192 - Opravná položka k nedokončené  výrobě</option>
  <option value="193">193 - Opravná položka k polotovarům  vlastní výroby</option>
  <option value="194">194 - Opravná položka k výrobkům</option>
  <option value="195">195 - Opravná položka ke zvířatům</option>
  <option value="196">196 - Opravná položka ke zboží</option>
  <option value="197">197 - Opravná položka k zálohám  na materiál</option>
  <option value="198">198 - Opravná položka k zálohám na zboží</option>
  <option value="199">199 - Opravná položka k zálohám  na zvířata</option>
  <option value="211">211 - Pokladna</option>
  <option value="213">213 - Ceniny</option>
  <option value="221">221 - Bankovní účty</option>
  <option value="231">231 - Krátkodobé bankovní úvěry</option>
  <option value="232">232 - Eskontní úvěry</option>
  <option value="241">241 - Emitované krátkodobé dluhopisy</option>
  <option value="249">249 - Ostatní krátkodobé finanční výpomoci</option>
  <option value="251">251 - Registrované majetkové cenné papíry k obchodování</option>
  <option value="252">252 - Vlastní akcie a vlastní obchodní podíly</option>
  <option value="253">253 - Registrované dluhové cenné papíry k obchodování</option>
  <option value="255">255 - Vlastní dluhopisy</option>
  <option value="256">256 - Dluhové cenné papíry se splat. do 1 roku držené do splatnosti</option>
  <option value="257">257 - Ostatní cenné papíry k obchodování</option>
  <option value="259">259 - Pořizování krátkodobého finančního majetku</option>
  <option value="261">261 - Peníze na cestě</option>
  <option value="291">291 - Opravná položka ke krátkodobému finančnímu majetku</option>
  <option value="311">311 - Pohledávky z obchodních vztahů</option>
  <option value="312">312 - Směnky k inkasu</option>
  <option value="313">313 - Pohledávky za eskontované cenné papíry</option>
  <option value="314">314 - Poskytnuté zálohy – dlouhodobé a krátkodobé</option>
  <option value="315">315 - Ostatní pohledávky</option>
  <option value="321">321 - Závazky z obchodních vztahů</option>
  <option value="322">322 - Směnky k úhradě</option>
  <option value="324">324 - Přijaté provozní zálohy</option>
  <option value="325">325 - Ostatní závazky</option>
  <option value="331">331 - Zaměstnanci</option>
  <option value="333">333 - Ostatní závazky vůči zaměstnancům</option>
  <option value="335">335 - Pohledávky za zaměstnanci</option>
  <option value="336">336 - Zúčtování s institucemi sociál. zabezpečení a zdravot. pojištění</option>
  <option value="341">341 - Daň z příjmů</option>
  <option value="342">342 - Ostatní přímé daně</option>
  <option value="343">343 - Daň z přidané hodnoty</option>
  <option value="345">345 - Ostatní daně a poplatky</option>
  <option value="346">346 - Dotace ze státního rozpočtu</option>
  <option value="347">347 - Ostatní dotace</option>
  <option value="349">349 - Vyrovnávací účet pro DPH</option>
  <option value="351">351 - Pohledávky – ovládaná nebo ovládající osoba</option>
  <option value="352">352 - Pohledávky – podstatný vliv</option>
  <option value="353">353 - Pohledávky za upsaný základní kapitál</option>
  <option value="354">354 - Pohledávky za společníky při úhradě ztráty</option>
  <option value="355">355 - Ostatní pohledávky za společníky obchodní korporace</option>
  <option value="358">358 - Pohledávky za společníky sdruženými ve společnostech</option>
  <option value="361">361 - Závazky – ovládaná nebo ovládající osoba</option>
  <option value="362">362 - Závazky – podstatný vliv</option>
  <option value="364">364 - Závazky ke společníkům při rozdělování zisku</option>
  <option value="365">365 - Ostatní závazky ke společníkům obchodní korporace</option>
  <option value="366">366 - Závazky ke společníkům ze závislé činnosti</option>
  <option value="367">367 - Závazky z upsaných nesplacených cenných papírů a vkladů</option>
  <option value="368">368 - Závazky ke společníkům sdruženým ve společnosti</option>
  <option value="371">371 - Pohledávky z prodeje obchodního závodu</option>
  <option value="372">372 - Závazky z koupě obchodního závodu </option>
  <option value="373">373 - Pohledávky a závazky z pevných termínových operací</option>
  <option value="374">374 - Pohledávky z pronájmu</option>
  <option value="375">375 - Pohledávky z emitovaných dluhopisů</option>
  <option value="376">376 - Nakoupené opce</option>
  <option value="377">377 - Prodané opce</option>
  <option value="378">378 - Jiné pohledávky</option>
  <option value="379">379 - Jiné závazky</option>
  <option value="381">381 - Náklady příštích období</option>
  <option value="382">382 - Komplexní náklady příštích období</option>
  <option value="383">383 - Výdaje příštích období</option>
  <option value="384">384 - Výnosy příštích období</option>
  <option value="385">385 - Příjmy příštích období</option>
  <option value="388">388 - Dohadné účty aktivní</option>
  <option value="389">389 - Dohadné účty pasivní</option>
  <option value="391">391 - Opravná položka k pohledávkám</option>
  <option value="395">395 - Vnitřní zúčtování</option>
  <option value="398">398 - Spojovací účet při sdružení</option>
  <option value="411">411 - Základní kapitál</option>
  <option value="412">412 - Ážio</option>
  <option value="413">413 - Ostatní kapitálové fondy</option>
  <option value="414">414 - Oceňovací rozdíly z přecenění majetku a závazků</option>
  <option value="416">416 - Rozdíly z ocenění při přeměnách obchodních korporací</option>
  <option value="417">417 - Rozdíly z přeměn obchodních korporací</option>
  <option value="418">418 - Oceňovací rozdíly z přecenění při přeměnách obchodních korporací</option>
  <option value="419">419 - Změny základního kapitálu</option>
  <option value="421">421 - Rezervní fond</option>
  <option value="422">422 - Nedělitelný fond</option>
  <option value="423">423 - Statutární fondy</option>
  <option value="426">426 - Jiný výsledek hospodaření minulých let</option>
  <option value="427">427 - Ostatní fondy</option>
  <option value="428">428 - Nerozdělený zisk minulých let</option>
  <option value="429">429 - Neuhrazená ztráta minulých let</option>
  <option value="431">431 - Výsledek hospodaření ve schvalovacím řízení</option>
  <option value="432">432 - Rozhodnuto o zálohách na výplatu podílu na zisku</option>
  <option value="451">451 - Rezervy podle zvláštních právních předpisů</option>
  <option value="453">453 - Rezerva na daň z příjmů</option>
  <option value="459">459 - Ostatní rezervy</option>
  <option value="461">461 - Bankovní úvěry</option>
  <option value="471">471 - Dlouhodobé závazky – ovládaná nebo ovládající osoba</option>
  <option value="472">472 - Dlouhodobé závazky – podstatný vliv</option>
  <option value="473">473 - Emitované dluhopisy</option>
  <option value="474">474 - Závazky z pronájmu</option>
  <option value="475">475 - Dlouhodobé přijaté zálohy</option>
  <option value="478">478 - Dlouhodobé směnky k úhradě</option>
  <option value="479">479 - Jiné dlouhodobé závazky</option>
  <option value="481">481 - Odložený daňový závazek a pohledávka</option>
  <option value="491">491 - Účet individuálního podnikatele</option>
  <option value="501">501 - Spotřeba materiálu</option>
  <option value="502">502 - Spotřeba energie</option>
  <option value="503">503 - Spotřeba ostatních neskladovatelných dodávek</option>
  <option value="504">504 - Prodané zboží</option>
  <option value="510">510 - Služby</option>
  <option value="511">511 - Opravy a udržování</option>
  <option value="512">512 - Cestovné</option>
  <option value="513">513 - Náklady na reprezentaci</option>
  <option value="518">518 - Ostatní služby</option>
  <option value="520">520 - Osobní náklady</option>
  <option value="521">521 - Mzdové náklady</option>
  <option value="522">522 - Příjmy společníků obchodní korporace ze závislé činnosti</option>
  <option value="523">523 - Odměny členům orgánů obchodních korporací</option>
  <option value="524">524 - Zákonné sociální pojištění</option>
  <option value="525">525 - Ostatní sociální pojištění</option>
  <option value="526">526 - Sociální náklady individuálního podnikatele</option>
  <option value="527">527 - Zákonné sociální náklady</option>
  <option value="528">528 - Ostatní sociální náklady</option>
  <option value="530">530 - Daně a poplatky</option>
  <option value="531">531 - Daň silniční</option>
  <option value="532">532 - Daň z nemovitých věcí</option>
  <option value="538">538 - Ostatní daně a poplatky</option>
  <option value="540">540 - Jiné provozní náklady</option>
  <option value="541">541 - Zůstatková cena prodaného dlouhodobého nehmotného a hmotného majetku</option>
  <option value="542">542 - Prodaný materiál</option>
  <option value="543">543 - Dary</option>
  <option value="544">544 - Smluvní pokuty a úroky z prodlení</option>
  <option value="545">545 - Ostatní pokuty a penále</option>
  <option value="546">546 - Odpis pohledávky</option>
  <option value="548">548 - Ostatní provozní náklady</option>
  <option value="549">549 - Manka a škody z provozní činnosti</option>
  <option value="551">551 - Odpisy dlouhodobého nehmotného a hmotného majetku</option>
  <option value="552">552 - Tvorba a zúčtování rezerv podle zvláštních právních předpisů</option>
  <option value="554">554 - Tvorba a zúčtování ostatních rezerv</option>
  <option value="555">555 - Tvorba a zúčtování komplexních nákladů příštích období</option>
  <option value="557">557 - Zúčtování oprávky k oceňovacímu rozdílu k nabytému majetku</option>
  <option value="558">558 - Tvorba a zúčtování zákonných opravných položek v provozní činnosti</option>
  <option value="559">559 - Tvorba a zúčtování opravných položek v provozní činnosti</option>
  <option value="560">560 - Finanční náklady</option>
  <option value="561">561 - Prodané cenné papíry a podíly</option>
  <option value="562">562 - Úroky</option>
  <option value="563">563 - Kurzové ztráty</option>
  <option value="564">564 - Náklady z přecenění cenných papírů</option>
  <option value="566">566 - Náklady z finančního majetku</option>
  <option value="567">567 - Náklady z derivátových operací</option>
  <option value="568">568 - Ostatní finanční náklady</option>
  <option value="569">569 - Manka a škody na finančním majetku</option>
  <option value="574">574 - Tvorba a zúčtování finančních rezerv</option>
  <option value="579">579 - Tvorba a zúčtování opravných položek ve finanční činnosti</option>
  <option value="580">580 - Mimořádné náklady</option>
  <option value="582">582 - Škody</option>
  <option value="584">584 - Tvorba a zúčtování mimořádných rezerv</option>
  <option value="588">588 - Ostatní mimořádné náklady</option>
  <option value="589">589 - Tvorba a zúčtování opravných položek v mimořádné činnosti</option>
  <option value="591">591 - Daň z příjmů z běžné činnosti – splatná</option>
  <option value="592">592 - Daň z příjmů z běžné činnosti – odložená</option>
  <option value="593">593 - Daň z příjmů z mimořádné činnosti – splatná</option>
  <option value="594">594 - Daň z příjmů z mimořádné činnosti – odložená</option>
  <option value="595">595 - Dodatečné odvody daně z příjmů</option>
  <option value="596">596 - Převod podílu na výsledku hospodaření společníkům</option>
  <option value="597">597 - Převod provozních nákladů</option>
  <option value="598">598 - Převod finančních nákladů</option>
  <option value="601">601 - Tržby za vlastní výrobky</option>
  <option value="602">602 - Tržby z prodeje služeb</option>
  <option value="604">604 - Tržby za zboží</option>
  <option value="611">611 - Změna stavu nedokončené výroby</option>
  <option value="612">612 - Změna stavu polotovarů vlastní výroby</option>
  <option value="614">614 - Změna stavu zvířat</option>
  <option value="621">621 - Aktivace materiálu a zboží</option>
  <option value="622">622 - Aktivace vnitropodnikových služeb</option>
  <option value="623">623 - Aktivace dlouhodobého nehmotného majetku</option>
  <option value="613">613 - Změna stavu výrobků</option>
  <option value="624">624 - Aktivace dlouhodobého hmotného majetku</option>
  <option value="641">641 - Tržby z prodeje dlouhodobého nehmotného a hmotného majetku</option>
  <option value="642">642 - Tržby z prodeje materiálu</option>
  <option value="644">644 - Smluvní pokuty a úroky z prodlení</option>
  <option value="646">646 - Výnosy z odepsaných pohledávek</option>
  <option value="648">648 - Ostatní provozní výnosy</option>
  <option value="661">661 - Tržby z prodeje cenných papírů a podílů</option>
  <option value="662">662 - Úroky</option>
  <option value="663">663 - Kurzové zisky</option>
  <option value="664">664 - Výnosy z přecenění cenných papírů</option>
  <option value="665">665 - Výnosy z dlouhodobého finančního majetku</option>
  <option value="666">666 - Výnosy z krátkodobého finančního majetku</option>
  <option value="667">667 - Výnosy z derivátových operací</option>
  <option value="668">668 - Ostatní finanční výnosy</option>
  <option value="688">688 - Ostatní mimořádné výnosy</option>
  <option value="697">697 - Převod provozních výnosů</option>
  <option value="698">698 - Převod finančních výnosů</option>
  <option value="701">701 - Počáteční účet rozvažný</option>
  <option value="702">702 - Konečný účet rozvažný</option>
  <option value="710">710 - Účet zisků a ztrát"</option>
</datalist>
